.header{
    /* background-color: black; */
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7)
    rgba(4,9,30,0.7)),url(https://i.pinimg.com/1200x/b2/6e/ec/b26eec9264bfa13d7baf430302315bac.jpg); */
    background-image:linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6) 
    ),
    url(https://i.pinimg.com/1200x/b9/e6/3b/b9e63bc638fbed07f206de3e00165eba.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

    ul{
        color: aliceblue;
    }

    nav img{
        width: 120px;
        height: auto;
    }

    nav{
        display: flex;
        padding: 2% 6%;
        justify-content:space-between;
        align-items:center ;
    }

    .navlinks{
        flex: 1;
        text-align: right;

    }

    .navlinks ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        
    }

    .navlinks ul li a{
        text-decoration: none;
        color: aliceblue;
        font-size: 15px;
        font-family: "Playfair Display", serif;
    }

    .navlinks ul li::after{
        content: "";
        width: 0%;
        height: 2px;
        background: #2206f5;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .navlinks ul li:hover::after{
        width: 100%;
    }

   .textbox{
        color: aliceblue;
        /* font-family: "Playfair Display", serif; */
        top: 50%;
        left: 50%;
        width: 90%;
        position: absolute;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .hero-btn{
  padding: 12px 28px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 14px;
  letter-spacing: 1px;
}
.hero-btn:hover{
  background: #ede108;
  border-color: #1d06cf;
}
    
}